/* src/styles.css */


/* Basic reset */

body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.App {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    gap: 5px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: rgb(17, 92, 17);
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: left;
}

li p {
    margin: 5px 0;
    width: 90%;
}

li em {
    color: #888;
}

.loading,
.error {
    margin: 20px 0;
    color: #ff0000;
}

form {
    margin-top: 20px;
    width: 90%;
}

textarea {
    width: 80%;
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    font-weight: bold;
    margin-right: 10px;
    width: 90%;
}

select {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h2 {
    color: #333;
}

.thumb-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    color: #6b1d9b;
    display: inline-block;
    gap: 50px;
    padding: 20px;
}

.thumb-button:hover {
    color: #536d89;
}